


@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Codystar:wght@300;400&family=Monoton&family=Mozilla+Headline:wght@200..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Press+Start+2P&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    margin: 0px;
    padding: 0px;
    background-color: #f7f2e9;
      font-family: "Roboto", sans-serif;
      border-bottom: solid 25px #edc84b;
      min-height: 800px;

}

.title {
    text-align: center;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 3px;
    color: #edc84b;

}

.menu-title {
    width: 8%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-top: 2px solid;
     border-bottom: 2px solid;


}

.cards-container {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 100px;
}

.card {
  
    width: 30%;
    display: flex;
    flex-direction: row;
    margin: 20px;
    box-shadow: 1px 1px 30px black;
    border-radius: 10px;
}
.card-info {
    margin-left: 30px;
}

.card-info p {
    color: gray;
    font-weight: 500;
}

footer {
    text-align: center;
}

.btn{
    background-color: #edc84b;
    color: black;
    padding: 12px 25px;
    border-radius: 10px;
    border: transparent;
    margin-bottom: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: 1s;
}
.btn:hover {
    transform: scale(1.1,1.1);
}